/* Core Style*/

body {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    height: auto;
    align-content: center;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

.logo {
    width: 100px;
    height: 65px;
    float: left;
    padding-bottom: 1em;
}

nav {
    padding-top: 0.5em;
    width: 1200px;
    height: 70px;
    float: none;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    transition: 5s;
    float: left;
}

nav a {
    width: 200px;
    display: block;
    line-height: 50px;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding-bottom: 1em;
}

nav a:hover {
    color: greenyellow;
    background-color: #666;
}

nav a.active {
    color: greenyellow;
    cursor: default;
}


/*
.responsive-bar {
    width: 100%;
    padding: 10px 30px;
    box-sizing: border-box;
    display: none;
}

.responsive-bar h3 {
    margin: 0;
    padding: 3px;
    color: #fff;
    float: left;
}

.responsive-bar h3 a {
    color: #fff;
    text-decoration: none;
}

.responsive-bar h4 {
    margin: 0;
    padding: 0;
    color: #fff;
    float: right;
    padding: 5px 10px;
    background: #2690d4;
    text-transform: uppercase;
    cursor: pointer;
}
*/

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: .5em 0;
}

.btn:hover {
    color: greenyellow;
    background-color: #666;
}


/*Header Showcase*/

#showcase {
    min-height: 450px;
    color: #fff;
    text-align: center;
}

#showcase .banner {
    position: absolute;
    background: #333;
    background-image: url("Banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    opacity: 0.9;
}


/*
#showcase h2 {
    padding-top: 100px;
    padding-bottom: 0;
    color: #333;
}

*/


/* Section A*/

#section-a {
    background: #fff;
    color: #333;
    padding-top: 1em;
    padding-bottom: 1em;
}


/*Section B*/

#section-b {
    background: #fff;
    color: #333;
    padding: 2em;
}


/* Section C*/

#section-c {
    padding: 2em 1em 1em;
}

#section-c ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-c li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}

#section-c .card-content {
    padding: 1.5em;
}


/*Section D*/

#section-d .box {
    color: #333;
    padding: 2em;
    background-color: #fff;
}

#section-d .box:first-child {
    background: #26d460;
}


/*Footer*/

#main-footer {
    padding: 2em;
    background: #000;
    color: #fff;
    text-align: center;
}

#main-footer a {
    color: #2690d4;
    text-decoration: none;
}


/*Media Query*/

@media (min-width: 700px) {
    nav {
        display: grid;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
    .content-wrap,
    #section-c ul {
        grid-column: 2/4;
    }
    .box,
    #main-footer div {
        grid-column: span 2;
    }
    #section-c ul {
        display: flex;
        justify-content: space-around;
    }
    #section-c li {
        width: 40%;
    }
}